MitchellClaimConsole/MitchellClaimConsole/Service References/MitchellClaimService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MitchellClaimConsole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MitchellClaimConsole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MitchellClaims">
    <xs:sequence>
      <xs:element minOccurs="0" name="MitchellClaim" nillable="true" type="tns:ArrayOfMitchellClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MitchellClaims" nillable="true" type="tns:MitchellClaims" />
  <xs:complexType name="ArrayOfMitchellClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MitchellClaim" nillable="true" type="tns:MitchellClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMitchellClaim" nillable="true" type="tns:ArrayOfMitchellClaim" />
  <xs:complexType name="MitchellClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedAdjusterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimantFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimantLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossInfo" nillable="true" type="tns:LossInfo" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicles" nillable="true" type="tns:Vehicles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MitchellClaim" nillable="true" type="tns:MitchellClaim" />
  <xs:complexType name="LossInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CauseOfLoss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LossInfo" nillable="true" type="tns:LossInfo" />
  <xs:complexType name="Vehicles">
    <xs:sequence>
      <xs:element minOccurs="0" name="VehicleDetails" nillable="true" type="tns:VehicleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicles" nillable="true" type="tns:Vehicles" />
  <xs:complexType name="VehicleDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DamageDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExteriorColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicPlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicPlateExpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicPlateState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleDetails" nillable="true" type="tns:VehicleDetails" />
</xs:schema>