MitchellClaimConsole/MitchellClaimConsole/Service References/MitchellClaimService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53771/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MitchellClaimService" />
  <xs:import schemaLocation="http://localhost:53771/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MitchellClaimConsole" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MitchellClaimService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MitchellClaimService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMitchellClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createXMLPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BackStoreXMLPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMitchellClaimsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadMitchellClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="backStoreXMLPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadMitchellClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MitchellClaimConsole" minOccurs="0" name="ReadMitchellClaimsResult" nillable="true" type="q3:MitchellClaims" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateXMLStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateXMLPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backStoreXMLPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateXMLStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateXMLStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMitchellClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backStoreXMLPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMitchellClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMitchellClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>